INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
configure
config.guess
config.h
config.h.in
config.log
config.status
config.sub
depcomp
install-sh
.deps
.libs
*.o
*.lo
*.la
libtool
ltmain.sh
missing
stamp-h1
.*.swp
*.stamp
gtk-doc.make
rss-glib-1.0.pc
rss-glib.pc
rss-glib/rss-marshal.c
rss-glib/rss-marshal.h
rss-glib/rss-version.h
rss-glib/stamp-rss-marshal.h
tests/test-01
bindings/python/rss.c
doc/reference/rss-glib/html/
doc/reference/rss-glib/*.txt
doc/reference/rss-glib/*.bak
doc/reference/rss-glib/version.xml
doc/reference/rss-glib/rss-glib.*
doc/reference/rss-glib/xml/
doc/reference/rss-glib/tmpl/
bindings/mono/generated/
bindings/mono/AssemblyInfo.cs
bindings/mono/rss-glib.xml
bindings/mono/rss-glib-sharp.dll
bindings/mono/rss-glib-sharp.dll.mdb
bindings/mono/rss-glib-sharp.dll.config
bindings/mono/generated-stamp
bindings/mono/rss-glib.api
