INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
configure
config.guess
config.h
config.h.in
config.log
config.status
config.sub
depcomp
install-sh
.deps
.libs
*.o
*.lo
*.la
libtool
ltmain.sh
missing
stamp-h1
.*.swp
*.stamp
